{% include "header.html" %}
    <h1>Current inventory</h1>
    <style>
    table, th, td {
    border: 2px solid black;
    }

    </style>
    <table style="width:20%">
      <col style="width:80%">
	    <col style="width:20%">
      <tr><th>Product Name</th><th>Quantity</th></tr>
      {% for product in current_inventory_list %}
      <tr><td>{{product["product"]}}</td><td>{{product["quantity"]}}</td></tr>
      {% endfor %}
    </table>





    </body>
    </html>
    <BR>
    <BR>
    <BR>
    {% include "footer.html" %}
