<html>
  <header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <style>
      .footer {
        font-size:10px;
      }
    </style>
  </header>
  <body style="background-color:96B7D3;">
    <a href='/'>Home</a> | <a href='/user_interface_page'>User interface</a> | <a href='/saleslog'>Sales Log</a> |
    <a href='/order_input'>Order input</a> | <a href='/receipt'>Receipt</a> | <a href='/purchaselog'>Purchase Log</a> | <a href='/currentinventory'>Current Log</a><br>
    {% if session["admin"] is defined %}
        Welcome, {{ session["admin"]["first_name"] }}.
        <a href='/logout'>Logout</a>
        {% else %}
        <a href='/user_interface_page'>Back</a>
        {% endif %}

    <p/>
