<html>
  <header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <style>
      .footer {
        font-size:10px;
      }
    </style>
  </header>
  <body style="background-color:96B7D3;">
    <h1>WorkSmarter</h1>
    <form action="/login">
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <h2>Mission</h2>
    <p> Something here </p>
    <h2>Vision</h2>
    <p> Something here </p>

    <p/>
