<html>
  <header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <style>
      .footer {
        font-size:10px;
      }
    </style>
  </header>
  <body style="background-color:96B7D3;">
    Welcome, {{ session["admin"]["first_name"] }}.
    <a href='/logout'>Logout</a>
    <BR>
    <a href='/user_interface_page'>Back</a>
    <p/>
    <h1>Receipt</h1>
 </form>

  </body>
</html>
<BR>
<BR>
<BR>
{% include "footer.html" %}
