<html> 
<head></head> 
<body>
{% include "header.html" %}
    <h2>Reports Page</h2>
<img src="{{ url_for('static' , filename = 'LP_Bullhead Milk.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Beach Fabric Conditioner.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Brava Biscuits.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Col Git Toothpaste.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Dairy King Ice Cream.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Datu Itim Vinegar.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Don Rox Bleach.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Lucky Mo Big Noodles.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Magnolia Garlic Bread.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Mayon Blue Salt.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Mila\'s Chocolate Milk.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Mr. Jelly Gulaman Pack.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Mrs. Chips.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_NPA Rice.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Panteen Shampoo.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Rita Round Biscuits.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Royal Cola.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Select Vanilla Ice Cream.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Silver Duck Soy Sauce.png') }}" alt="Girl in a jacket">
<img src="{{ url_for('static' , filename = 'LP_Venus Chocolate Bars.png') }}" alt="Girl in a jacket">
  </body>
</html>
<BR>
<BR>
<BR>
{% include "footer.html" %}
</body> 
</html>